html {
  background-color: #161617;
  color: rgb(30, 171, 232);
}

body {
  font-family: "Readex Pro", sans-serif;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  margin: 2em;
  color: rgb(30, 171, 232);
}

nav a:hover {
  color: crimson;
}

/* App Shared styles */
h1,
h2 {
  text-align: center;
  color: rgb(30, 171, 232);
}
